body {
  text-align: center;
  background-color: #000000;
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

h1 {
  position: relative;
  top: 50px;
  color: #66BFBF
}

.about {
  margin: 100px auto;
  font-family: 'Roboto Mono', monospace;

}

.about2 {
  margin: 100px auto 100px auto;
  position: relative;top: 50px;
  font-family: 'Roboto Mono', monospace;
}
.aboutme{
  float: left;
  width: 500px;
  margin:60px;
  position: relative;left: 250px;
  text-align: left;
  line-height: 2;
  color: #5b5b5b;
}
.hr1{
  margin: 450px;
}
.myimage {
  float: left;
  width: 225px;
  position: relative;
  left: 250px;
}

.bbb {
  position: relative;
  top: 50px;
}

.p1 {
  position: relative;
  top: 50px;
}

.skills {
  margin: 450px auto 100px auto;
  font-family: 'Roboto Mono', monospace;

}
.skillshead{
  padding-bottom: 50px;
  font-family: 'Roboto Mono', monospace;
}
.skill2{
  float: left;
  width: 500px;
  margin:30px;
  position: relative;left: 280px;
  text-align: left;
  line-height: 2;
  color: #5b5b5b;
  font-family: 'Roboto Mono', monospace;
}
.skillpng{
  float: left;
  width: 225px;
  position: relative;
  left: 250px;

}

.contact-me{
  padding-top: 250px;
  font-family: 'Roboto Mono', monospace;
}
.work{
  margin: 50px auto 50px auto;
  font-family: 'Roboto Mono', monospace;
}
.btn1 {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Roboto Mono', monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn1:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.social{
  background-color: white;
  padding: 50px;
  margin-bottom: 0;
  text-decoration: none;
}
.btn2{
  text-decoration: none;
  margin: 10px 20px;
  color: #6e7582;
  font-family: 'Roboto Mono', monospace;
}
.btn3{
  text-decoration: none;
  margin: 10px 20px;
  color: #6e7582;
  font-family: 'Roboto Mono', monospace;
}
.btn4{
  text-decoration: none;
  margin: 10px 20px;
  color: #6e7582;
  font-family: 'Roboto Mono', monospace;
}
.btn2:hover{
  color: #ff005c
}
.btn3:hover{
  color: #78c4d4
}
.btn4:hover{
  color: #28527a
}
.c{
  background-color: white;
  margin: 0;
  color: #6e7582;
  font-family: 'Roboto Mono', monospace;

}
